body {
    padding: 50px 0;
    background: #fff3ec;
}
header {
    margin-bottom: 50px;
    position: relative;
    min-height: 90px;
}
header img {
    max-width: 120px;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#siguiente, #anterior{
    background-color: transparent;
    padding: 0 10px;
    outline: none; 
}
.progress .progress-bar {
    background-color: #4b4668;
}
#progreso {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
}
#flechas{
    padding-top: 30px;
}
#flechas img{
    width: 40px;
    height: 40px;
}
.content {
    background-color: #fff;
    padding: 20px 20px 90px;
    box-shadow: 4px 6px 38px hsla(0,100%,79%,.3);
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
@media (min-width: 720px){
    .content {
        padding: 60px 20px 90px;
    }
}

.opciones button {
    background-color: #edecf0;
    color: #4b4668;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 15px;
    border: 1px solid #4b4668;
    padding: 6px 44px 6px 14px;
    width: 100%;
    text-align: left;
    transition: background-color .3s linear,border-color .3s linear,color .3s linear;
}